title: Blog post title
subtitle: Blog post subtitle
author: Author Name
author_image: <file_name in static/assets/blog-images>.extension
date: %B %d, %Y
image:  <file_name in static/assets/blog-images>.extension
permalink: template 
tags: list,of,comma,separated,tags
shortcontent: Short abstract of the blog post

---

Ever since launching One Word Domains five months ago... (content)
